@model PagedList.IPagedList<BooksLibrary.Models.Reader>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Список всех читателей</h2>
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Добавить книгу", "Create", "Reader", null, new { @class = "btn btn-icon-create" })
    </div>

    <div class="col-md-4 pull-right books-filter">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="filter-title">@Html.DisplayNameFor(model => model.FirstOrDefault().last_name)</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="0"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().last_name)</a></li>
                    <li id="1"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().name)</a></li>
                    <li id="2"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().middle_name)</a></li>
                    <li id="3"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().age)</a></li>
                    <li id="4"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().address)</a></li>
                    <li id="5"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().phone)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().last_name) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().name) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().middle_name) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().age) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().address) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().phone) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="card" id="@item.id">
            <td> @Html.DisplayFor(modelItem => item.last_name) </td>
            <td> @Html.DisplayFor(modelItem => item.name) </td>
            <td> @Html.DisplayFor(modelItem => item.middle_name) </td>
            <td> @Html.DisplayFor(modelItem => item.age) </td>
            <td> @Html.DisplayFor(modelItem => item.address) </td>
            <td> @Html.DisplayFor(modelItem => item.phone) </td>
            <td class="actions">
                <a href="/Readers/Edit/@item.id" class="btn-icon-edit"><i class="fa fa-edit fa-lg"></i></a>
                <div class="btn-icon-delete"><i class="fa fa-times fa-lg"></i>
                </div>
            </td>
        </tr>
    }
</table>
<div class="page">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <hr />
</div>

<script>
    var deleteUrl = '@Url.Action("DeleteConfirmed", (string) PageData["Controller"])';
</script>