@model PagedList.IPagedList<BooksLibrary.Models.Reader>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Список всех читателей</h2>
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Добавить читателя", "Create", "Readers", null, new { @class = "btn btn-icon-create" })
    </div>

    <div class="col-md-4 pull-right books-filter">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="filter-title">@Html.DisplayNameFor(model => model.FirstOrDefault().name)</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="last_name"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().last_name)</a></li>
                    <li id="name"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().name)</a></li>
                    <li id="middle_name"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().middle_name)</a></li>
                    <li id="age"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().age)</a></li>
                    <li id="address"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().address)</a></li>
                    <li id="phone"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().phone)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <table class="table">
        <tr>
            <th> @Html.DisplayNameFor(model => model.FirstOrDefault().last_name) </th>
            <th> @Html.DisplayNameFor(model => model.FirstOrDefault().name) </th>
            <th> @Html.DisplayNameFor(model => model.FirstOrDefault().middle_name) </th>
            <th> @Html.DisplayNameFor(model => model.FirstOrDefault().age) </th>
            <th> @Html.DisplayNameFor(model => model.FirstOrDefault().address) </th>
            <th> @Html.DisplayNameFor(model => model.FirstOrDefault().phone) </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="card" id="@item.id">
                <td class="last_name"> @Html.DisplayFor(modelItem => item.last_name) </td>
                <td class="name"> @Html.DisplayFor(modelItem => item.name) </td>
                <td class="middle_name"> @Html.DisplayFor(modelItem => item.middle_name) </td>
                <td class="age"> @Html.DisplayFor(modelItem => item.age) </td>
                <td class="address"> @Html.DisplayFor(modelItem => item.address) </td>
                <td class="phone"> @Html.DisplayFor(modelItem => item.phone) </td>
                <td class="actions">
                    <a href="/Readers/Edit/@item.id" class="btn-icon-edit"><i class="fa fa-edit fa-lg"></i></a>
                    <div class="btn-icon-delete">
                        <i class="fa fa-times fa-lg"></i>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<div class="page">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    <hr />
</div>

<script>
    var deleteUrl = '@Url.Action("DeleteConfirmed", (string) PageData["Controller"])';
</script>
