@model IEnumerable<BooksLibrary.Models.Instance>

@{
    ViewBag.Title = "Index";
}

<h2>Список всех экземпляров книг</h2>
<div class="row">
    <div class="col-md-8">
        <a href="/Instances/Create" class="btn-icon-create" title="Добавить экземпляр книги">
            <i class="fa fa-file fa-2x"></i>
        </a>
    </div>

    <div class="col-md-4 pull-right books-filter">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="filter-title">@Html.DisplayNameFor(model => model.Book.name)</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="0"><a href="#">@Html.DisplayNameFor(model => model.Book.ISBN)</a></li>
                    <li id="1"><a href="#">@Html.DisplayNameFor(model => model.Book.name)</a></li>
                    <li id="2"><a href="#">@Html.DisplayNameFor(model => model.room)</a></li>
                    <li id="3"><a href="#">@Html.DisplayNameFor(model => model.rack)</a></li>
                    <li id="4"><a href="#">@Html.DisplayNameFor(model => model.shelf)</a></li>
                    <li id="5"><a href="#">@Html.DisplayNameFor(model => model.existence)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Book.ISBN) </th>
        <th> @Html.DisplayNameFor(model => model.Book.name) </th>
        <th> @Html.DisplayNameFor(model => model.room) </th>
        <th> @Html.DisplayNameFor(model => model.rack) </th>
        <th> @Html.DisplayNameFor(model => model.shelf) </th>
        <th> @Html.DisplayNameFor(model => model.existence) </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="../Instances/Edit/@item.id">
        <td> @Html.DisplayFor(modelItem => item.Book.ISBN) </td>
        <td> @Html.DisplayFor(modelItem => item.Book.name) </td>
        <td> @Html.DisplayFor(modelItem => item.room) </td>
        <td> @Html.DisplayFor(modelItem => item.rack) </td>
        <td> @Html.DisplayFor(modelItem => item.shelf) </td>
        <td> @Html.DisplayFor(modelItem => item.existence) </td>
        <td>
            <a href="/Instances/Edit/@item.id" class="btn-icon-edit"><i class="fa fa-edit fa-lg"></i></a>
            <a onclick="showDelete('/Instances/Delete/@item.id');" class="btn-icon-delete"><i class="fa fa-times fa-lg"></i></a>
        </td>
    </tr>
}
</table>