@model PagedList.IPagedList<BooksLibrary.Models.Instance>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Список всех экземпляров книг</h2>
<div class="row">
    <div class="col-md-8">
        @Html.ActionLink("Добавить экземпляр", "Create", "Instances", null, new { @class = "btn btn-icon-create" })
    </div>

    <div class="col-md-4 pull-right books-filter">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="Text input with dropdown button">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="filter-title">@Html.DisplayNameFor(model => model.FirstOrDefault().Book.name)</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li id="ISBN"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Book.ISBN)</a></li>
                    <li id="name"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().Book.name)</a></li>
                    <li id="room"><a href="#">@Html.DisplayNameFor(model => model.FirstOrDefault().room)</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().Book.ISBN) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().Book.name) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().room) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().rack) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().shelf) </th>
        <th> @Html.DisplayNameFor(model => model.FirstOrDefault().existence) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="card" id="@item.id">
            <td class="ISBN"> @Html.DisplayFor(modelItem => item.Book.ISBN) </td>
            <td class="name"> @Html.DisplayFor(modelItem => item.Book.name) </td>
            <td class="room"> @Html.DisplayFor(modelItem => item.room) </td>
            <td class="rack"> @Html.DisplayFor(modelItem => item.rack) </td>
            <td class="shelf"> @Html.DisplayFor(modelItem => item.shelf) </td>
            <td class="existence"> @Html.DisplayFor(modelItem => item.existence) </td>
            <td class="actions">
                <a href="/Instances/Edit/@item.id" class="btn-icon-edit"><i class="fa fa-edit fa-lg"></i></a>
                <div class="btn-icon-delete"><i class="fa fa-times fa-lg"></i></div>
            </td>
        </tr>
    }
</table>
<div class="cards-container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<hr />

<script>
    var deleteUrl = '@Url.Action("DeleteConfirmed", (string) PageData["Controller"])';
</script>